<mat-card>
  <mat-card-header>Создать новую задачу</mat-card-header>
  <div class="loader">
    <mat-progress-bar *ngIf="submitted" mode="buffer"></mat-progress-bar>
  </div>
  <mat-card-content>
    <div class="divider"></div>
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
      <div class="control-container">
        <div class="input-container">
          <input
            matInput
            placeholder="Имя пользователя"
            formControlName="username"
            name="username"
          />
          <mat-error *ngIf="error?.username">
            {{ error.username }}
          </mat-error>
        </div>
        <div class="input-container">
          <input
            matInput
            placeholder="е-mail"
            formControlName="email"
            name="email"
          />
          <mat-error *ngIf="error?.email">
            {{ error.email }}
          </mat-error>
        </div>
      </div>
      <div class="control-container">
        <div class="input-container">
          <input
            matInput
            placeholder="Текст задачи"
            formControlName="text"
            name="text"
          />
          <mat-error *ngIf="error?.text">
            {{ error.text }}
          </mat-error>
        </div>
      </div>
    </form>
    <div class="control-container">
      <button
        mat-fab
        extended
        color="warn"
        [disabled]="submitted"
        (click)="onCancel()"
      >
        <mat-icon>cancel</mat-icon>
        Отменить
      </button>
      <button
        mat-fab
        extended
        color="primary"
        [disabled]="submitted"
        (click)="onSubmit()"
      >
        <mat-icon>add</mat-icon>
        Создать
      </button>
    </div>
  </mat-card-content>
</mat-card>
